body {
     
    font-family: monospace;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    color:red;
    
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

